body {
    background-color: black;
}
 
/*TODO Button style for GO & PAUSE  */
/* #region */
.btnGradient {
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    z-index: 1;
    background-image: linear-gradient(to right, #000000 0%, #6a6ac4  51%, #000000  100%);
    &:hover {
        background-position: right center; /*? change the direction of the light thingy */
        color: snow;
        text-decoration: none;
    }
}
/* #endregion */

/*? Image + Backgrounds begin  */
/* #region */
.starMap {
    position: fixed;
    margin: 0px;
    width: 100%;
    height: -webkit-fill-available;
    z-index: -3;
    opacity: .7;
}

/*? Starlight Backgrounds  */
/* #region */
.sonicBackground {
    margin: 0px;
    position: fixed;
    width: 100%;
    height: -webkit-fill-available;
    z-index: -1;
}

.goldRing {
    margin: 0px;
    position: fixed;

}
/* #endregion */

/*? Morning Backgrounds  */
/* #region */
.sunnyBackground {
    position: fixed;
    width: 60%; 
    top: 30%;
    right: 63%;
    z-index: -1; 
}

.sunnyBackgroundTwo {
    position: fixed;
    width: 60%; 
    top: 28%;
    right: 57%;
    z-index: -2; 
    filter: blur(50px) brightness(2.2);
    animation: planetPulse 5s ease 0s infinite normal none;
}
/* #endregion */

/*? Night's Backgrounds  */
/* #region */
.nightsWallpaper {
    margin: 0px;
width: 100%;
    position: fixed;
    height: -webkit-fill-available;
    z-index: -3;
}


.sparklyStars {
    margin: 0px;
width: 100%;
    height: -webkit-fill-available;
    position: fixed;
    z-index: -1;
    filter: drop-shadow(260px 85px 2px snow);
    animation: nightTwinkleTwo 2s ease 0s infinite normal none;
}

.sparklyStarsTwo {
    margin: 0px;
width: 100%;
    height: -webkit-fill-available;
    position: fixed;
    top: 34%;
    left: 47%;
    z-index: -2;
    filter: brightness(2) drop-shadow(260px 85px 2px snow);
    animation: nightTwinkle 10s ease 0s infinite normal none;
}
/* #endregion */

/*? HEAT Backgrounds  */
/* #region */
.heatBackgroundImg {
margin: 0px;
position: fixed;
width: 100%;
height: -webkit-fill-available;
z-index: -2;
filter: brightness(0.5);
}

.heatBackgroundMain {
    margin: 0px;
position: fixed;
left: 80%;
top: 43%;
width: 20%;
height: -webkit-fill-available;
z-index: 1;
}

.heatBackgroundMainTwo {
    margin: 0px;
    position: fixed;
left: 81%;
top: 43%;
width: 20%;
height: -webkit-fill-available;
z-index: 0;
    filter: blur(10px) drop-shadow(10px 10px 10px red);
    animation: heat 2s ease 0s infinite normal none;
}

/* #endregion */

/*? Afternoon Backgrounds */
/* #region */
.earthBackground {
    position: fixed;
    width: 60%;
    top: 50%;
    left: 11%;
    z-index: -2;
}

.earthBackgroundTwo {
    position: fixed;
    width: 70%;
    top: 45%;
    left: 6%;
    z-index: -4;
    filter: blur(10px) brightness(30);
    animation: planetPulse 8s ease 0s infinite normal none;

}
/* #endregion */

/*? Gratia Backgrounds  */
/* #region */
.finalFantasyBackground {
margin: 0px;
    position: fixed;
    width: 100%;
    height: -webkit-fill-available;
    z-index: -1;
    filter: brightness(0.5);
}

.finalFantasyRing {
margin: 0px;
    position: fixed;
    top: 86%;
    left: 89%;
    height: -webkit-fill-available;
    /* filter: drop-shadow(0px 3px 6px white); */
}

.finalFantasyRingTwo {
margin: 0px;
    position: fixed;
    top: 85%;
    left: 89%;
    z-index: -1;
    height: -webkit-fill-available;
    filter: blur(5px) brightness(20) drop-shadow(20px 20px 20px purple);
    animation: gratia 5s ease 0s infinite normal none;
}
/* #endregion  */

/*? Tetris Backgrounds  */
/* #region */
.tetris {
    position: fixed;
    top: -30%;
    width: 100px;
    height: 150px;
    z-index: -1;
}

/*? h block  */
img.tetris:nth-of-type(1) {
    left: 2%;
    width: 100px;
    height: 150px;
    animation: tetrisFall 150s linear infinite;

}

/*? i block  */
img.tetris:nth-of-type(2) {
    left: 21%;
    width: 50px;
    height: 150px;
    animation: tetrisFall 500ms linear infinite;
}

/*? j block  */
img.tetris:nth-of-type(3) {
    left: 40%;
    width: 100px;
    height: 150px;  
    animation: tetrisFall 2s linear infinite;
}

/*? l block  */
img.tetris:nth-of-type(4) {
    left: 50%;
    width: 100px;
    height: 150px;
    animation: tetrisFall 12s linear infinite;
}

/*? o block  */
img.tetris:nth-of-type(5) {
    left: 60%;
    width: 150px;
    height: 150px;
    animation: tetrisFall 37s linear infinite;
}

/*? t block  */
img.tetris:nth-of-type(6) {
    left: 72%;
    width: 150px;
    height: 150px;
    animation: tetrisFall 59s linear infinite;
}

/*? z block  */
img.tetris:nth-of-type(7) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation: tetrisFall 113s linear infinite;
}
/* #endregion */

/*? Weapon's Dealer Backgrounds  */
/* #region */
.weaponDealer {
    margin: 0px;
    position: fixed;
    width: 100%;
    height: -webkit-fill-available;
    z-index: -1;
    filter: brightness(0.5);
}

.personaLogo {
width: 23%;
height: -webkit-fill-available;
    position: fixed;
    top: 75%;
    left: -3%;
    z-index: 1;
}

.personaLogoTwo {
width: 23%;
height: -webkit-fill-available;
    position: fixed;
    top: 75%;
    left: -3%;
    filter: blur(10px) brightness(0.4) drop-shadow(10px 10px 10px darkred);
    animation: heat 2s ease 0s infinite normal none;
}
/* #endregion */

/*? Risette Backgrounds  */
/* #region */
.personaFourBackground {
    margin: 0px;
    position: fixed;
    width: 100%;
    height: -webkit-fill-available;
    z-index: -3;
}

.risette {
    margin: 0px;
    position: fixed;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    left: 76%;
    z-index: -1;
}

.risetteTwo {
    margin: 0px;
    position: fixed;
    width: 40%;
    height: -webkit-fill-available;
    left: 61%;
    z-index: -2;
    filter: blur(20px) brightness(0.2) drop-shadow(10px 10px 10px red);
    animation: riseShadow 460ms ease 0s infinite normal none;
}
/* #endregion */

/*? Evening Backgrounds  */
/* #region */
.nightBackground {
    position: fixed;
    width: 50%;
    top: -30%;
    left: 63%;
    z-index: -1;
}
.nightBackgroundTwo {
    position: fixed;
    width: 60%;
    top: -41%;
    left: 58%;
    z-index: -2;
    filter: blur(20px) brightness(2.2);
    opacity: .5;
    animation: planetPulse 8s ease 0s infinite normal none;
}
/* #endregion */

/* #endregion */

/*! Animations  */
/* #region */
/** For the Sun, Earth and Moon Animation */
/* #region */
@keyframes planetPulse {
  0% {
	opacity: 0.8;
	transform: scale(0.2);
  }

  80% {
	opacity: 0;
	transform: scale(1.2);
  }

  100% {
	opacity: 0;
	transform: scale(2.2);
  }
}
/* #endregion */

/** Heat Animation  */
/* #region */
@keyframes heat {
  0% {
	animation-timing-function: ease-out;
	transform: scale(1);
	transform-origin: center center;
  }

  10% {
	animation-timing-function: ease-in;
	transform: scale(0.91);
  }

  17% {
	animation-timing-function: ease-out;
	transform: scale(0.98);
  }

  33% {
	animation-timing-function: ease-in;
	transform: scale(0.87);
  }

  45% {
	animation-timing-function: ease-out;
	transform: scale(1);
  }
}
/* #endregion */

/** Rise's Shadow Animation  */
/* #region */
@keyframes riseShadow {
  0% {
	transform: scale(1);
  }

  50% {
	transform: scale(1.1);
  }

  100% {
	transform: scale(1);
  }
}
/* #endregion */

/** Night's Animations  */
/* #region */
@keyframes nightTwinkle {
  0% {
	opacity: 0.8;
	transform: scale(0.2);
  }

  80% {
	opacity: 0;
	transform: scale(1.2);
  }

  100% {
	opacity: 0;
	transform: scale(2.2);
  }
}

@keyframes nightTwinkleTwo {
  0% {
	opacity: 1;
  }

  50% {
	opacity: 0.2;
  }

  100% {
	opacity: 1;
  }
}
/* #endregion */

/** FFVX Animation  */
/* #region */
@keyframes gratia {
  0% {
	opacity: 0.8;
	transform: scale(0.2);
  }

  80% {
	opacity: 0;
	transform: scale(1.2);
  }

  100% {
	opacity: 0;
	transform: scale(2.2);
  }
}
/* #endregion */

/** Tetris Animation  */
/* #region */
@keyframes tetrisFall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(70em); /* Adjust the value for desired falling distance */
  }
}
/* #endregion */

/* #endregion */

/** Main Menu Header section  */
/* #region */
.mainMenu {
    background-color: rgba(0, 0, 0, 0.63);
    width: 100%;
}

li {
    list-style-type: none;
    /* margin-top: 20px; */
    font-size: 15px;
    padding: 30px;
    &:hover {
        background-color: rgba(9, 22, 117, 0.416);
    }
}

a {
    text-decoration: none;
    color: snow;
    font-weight: bold;
    padding: 20px;
    &:hover {
        color: yellow;
    }
    
}
/* #endregion */

/*TODO "Your Local Weather" Section  */
/* #region */
.mainTitle {
    color: rgb(106, 106, 196);
    font-size: 70px;
    font-family: "Koh Santepheap", serif;
    font-weight: 500;
    text-shadow: 6px 2px 1px black;
}

.titleWeather {
    color: snow;
    font-style: italic;
    text-shadow: 20px 17px 6px black;
}
/* #endregion */

/*? This is the zip-code input box  */
/* #region */
.inputDesign {
    background-color: rgba(0, 0, 0, 0.63);
    color: snow;
    border: 5px double rgb(106, 106, 196);
    height: 60px;
    text-align: center;
    font-size: 20px;
    width: 15%;
}
/* #endregion */

/*TODO This is the div section that appears  */
/* #region */
h2 {
    color: rgb(106, 106, 196);
    text-align: center;
    font-size: xx-large;
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 120px;
    text-shadow: 6px 2px 1px black;
}

h3 {
    color: yellow;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: x-large;
}

img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
}

p {
    color: red;
    text-align: center;
    font-size: larger;
    width: 75%;
}

p:nth-child(odd) {
    color: rgb(106, 106, 196);
    text-align: center;
}

div {
width: 30%;
margin-left: 60px;
background-color: rgba(0, 0, 0, 0.815);
border-radius: 16px;
border: 10px solid black;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
flex-direction: column;
align-items: center;
}

.strongTemperature {
color: rgb(106, 106, 196);
}

.strongPrediction {
color: rgb(106, 106, 196);
}

.strongOne {
    color: snow;
    font-style: italic;
    text-shadow: 20px 10px 4px black;
}
/* #endregion */

/** FOOTER  */
/* #region */
.foot {
background-color: rgba(0, 0, 0, 0.63);
height: 100px;
color: rgb(106, 106, 196);
}

.disclaimer {
    color: red;
    margin-left: 30px;
}
/* #endregion */

/*! START OF SMALL SECTION  */
/* #region */
@media only screen and (max-width: 686px) {
a {
    padding: 0px;
}

.mainTitle {
    font-size: 63px;
}


.sunnyBackground,
.sunnyBackgroundTwo, 
.earthBackground, 
.earthBackgroundTwo, 
.nightBackground, 
.nightBackgroundTwo,
.heatBackgroundMain,
.heatBackgroundMainTwo,
.mainMenu,
.personaLogo,
.personaLogoTwo,
.risette,
.risetteTwo,
.sparklyStars {
    visibility: hidden;
}

.goldRing {
    margin: 0px;
    position: fixed;
    top: 78%;
    width: 20%;
}

.goldRingTwo {
    margin: 0px;
    position: fixed;
    top: 78%;
    left: 80%;
    width: 20%;
}

.weaponDealerTwo {
    margin: 0px;
    position: fixed;
    width: 100%;
    height: -webkit-fill-available;
    z-index: -1;
    filter: brightness(0.5);
}

.nightsWallpaperTwo {
    margin: 0px;
    position: fixed;
    width: 100%;
    height: -webkit-fill-available;
    z-index: -1;
}

.sparklyStarsTwo {
    margin: 0px;
width: 100%;
    height: -webkit-fill-available;
    position: fixed;
    top: 34%;
    left: -2%;
    z-index: 0;
    filter: brightness(2) drop-shadow(260px 85px 2px snow);
    animation: nightTwinkle 10s ease 0s infinite normal none;
}

.personaFourBackgroundTwo {
    margin: 0px;
    position: fixed;
    width: 100%;
    height: -webkit-fill-available;
    z-index: -1;
    filter: brightness(0.5);
}

.navigationButtons {
    position: relative;
z-index: 1;
}

.inputDesign {
    width: 70%;
}

.zipCode {
    justify-content: center;
}

.weatherInfo {
    flex-wrap: nowrap;
}

h2 {
    margin-left: 0px;
}

div {
    width: 297px;
    margin-left: 0px;
}

img {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.foot {
    justify-content: center;
    height: -webkit-fill-available;
}

.disclaimer {
    color: red;
    margin-left: 5px;
    width: 87%;
    font-size: smaller;
}
}
/* #endregion */